* {
  margin:0px;
  padding:0px;
  text-align: center;
}

body {
  max-width: 60%;
  margin: auto;
  font-family: sans-serif;
  color: #444;
  font-size: 18px;
  line-height: 1.6;
  background-color: #eeeeee;
}

a {
  color: #07a;
}

p {
  display: block;
  width: 400px;
  margin: 50px auto;
  font: 30px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
}
