body {
  max-width: 80%;
  margin: auto;
  margin-bottom: 50px;
  font-family: sans-serif;
  color: #444;
  font-size: 18px;
  line-height: 1.6;
  /*background-color: #eeeeee; */
  background-image: url("https://ryantraviss.github.io/images/webb.png");
}

a {
  color: #07a;
}

h1, h2 {
  text-align:center;
}

.center {
  text-align:center;
}
